In [1]:
import pandas as pd
from raw.load_data import load_data

data_new = load_data(repo_id=222)

ModuleNotFoundError: No module named 'raw'

In [3]:
data_new = pd.get_dummies(data_new, columns=['job','marital',
                                         'education','default',
                                         'housing','loan',
                                         'contact','month',
                                         'poutcome'])

In [4]:
data_new.y.replace(('yes', 'no'), (1, 0), inplace=True)

In [5]:
data_new.dtypes

age                    int64
balance                int64
day_of_week            int64
duration               int64
campaign               int64
pdays                  int64
previous               int64
y                      int64
job_admin.              bool
job_blue-collar         bool
job_entrepreneur        bool
job_housemaid           bool
job_management          bool
job_retired             bool
job_self-employed       bool
job_services            bool
job_student             bool
job_technician          bool
job_unemployed          bool
marital_divorced        bool
marital_married         bool
marital_single          bool
education_primary       bool
education_secondary     bool
education_tertiary      bool
default_no              bool
default_yes             bool
housing_no              bool
housing_yes             bool
loan_no                 bool
loan_yes                bool
contact_cellular        bool
contact_telephone       bool
month_apr               bool
month_aug               bool
month_dec               bool
month_feb               bool
month_jan               bool
month_jul               bool
month_jun               bool
month_mar               bool
month_may               bool
month_nov               bool
month_oct               bool
month_sep               bool
poutcome_failure        bool
poutcome_other          bool
poutcome_success        bool
dtype: object

In [6]:
data_new.head()

,age,balance,day_of_week,duration,campaign,pdays,previous,y,job_admin.,job_blue-collar,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success
0,58,2143,5,261,1,-1,0,0,False,False,...,False,False,False,True,False,False,False,False,False,False
1,44,29,5,151,1,-1,0,0,False,False,...,False,False,False,True,False,False,False,False,False,False
2,33,2,5,76,1,-1,0,0,False,False,...,False,False,False,True,False,False,False,False,False,False
3,47,1506,5,92,1,-1,0,0,False,True,...,False,False,False,True,False,False,False,False,False,False
4,33,1,5,198,1,-1,0,0,False,False,...,False,False,False,True,False,False,False,False,False,False

In [8]:
data_new.to_pickle("data_new_df.pkl")